<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-6"></div>
        <div class="col-6 text-right">
            <a href="/patient/list">Home</a>&nbsp;|&nbsp;<a href="/logout">Logout</a>
        </div>
    </div>

    <h2 th:text="${patient.firstName} + ' '  + ${patient.lastName}"></h2>

    <div class="row">
        <div class="col-3">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 5%">First name</th>
                    <td th:text="${patient.firstName}"></td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td th:text="${patient.lastName}"></td>
                </tr>
                <tr>
                    <th>Date of birth</th>
                    <td th:text="${patient.dateOfBirth}"></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td th:text="${patient.gender}"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="${patient.address}"></td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td th:text="${patient.phoneNumber}"></td>
                </tr>
                <tr>
                    <th>Action</th>
                    <td style="width: 15%" class="text-center">
                        <a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-1"></div>

        <div class="col-8">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="noteContent : ${notes}">
                    <td th:text="${noteContent.noteContent}"></td>
                    <td style="width: 20%" class="text-center">
                        <a th:href="@{/patient/details(noteId=${noteContent.id}, patientId=${noteContent.patientId})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/note/delete/{id}(id=${noteContent.id},patientId=${noteContent.patientId})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form action="#" th:action="@{/note/save}" th:object="${noteToSave}" method="post"
          class="form-horizontal" style="width: 100%">

        <div class="form-group">
            <label for="note" th:if="${noteToSave.id == null}" class="form-label">New note</label>
            <label for="note" th:if="${noteToSave.id != null}" class="form-label">Update note</label>
            <textarea class="form-control" th:field="*{noteContent}" id="note" rows="3" required></textarea>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input type="hidden" th:value="${patient.lastName}" name="patientName" />
                <input type="hidden" th:value="${patient.id}" name="patientId">
                <input type="hidden" th:field="*{id}">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
